.owl-item > .center-container > a > div > .fa-play-circle-o {
	position: absolute;
	z-index: 1;
	display: block;
	color: white;
	text-decoration: none;
	opacity: 0.6;
	font-size: 3em !important;
	top:44%;
	left:50%;
	transform:translate(-50%,-50%);
}
@media (max-width: 640px) {
	.owl-item > .center-container > a > div > .fa-play-circle-o {
		font-size: 2.5em !important;
	}
}
.center-container {
	position: relative;
}

.owl-carousel {
	margin: 0 auto;
}